[loggers]
keys=root, servoLogger

[handlers]
keys=FileHandler

[formatters]
keys=servoLogFormatter

[logger_root]
level=INFO
handlers=FileHandler

[logger_servoLogger]
level=INFO
handlers=FileHandler
qualname=servoLogger
propagate=0

[handler_FileHandler]
class=FileHandler
level=INFO
formatter=servoLogFormatter
args=('feeder.log', 'a')

[formatter_servoLogFormatter]
format=%(asctime)s  %(name)s %(levelname)s %(message)s
datefmt=%a, %Y-%b-%d %H:%M:%S
